<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SATDPriority - Terms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>

<header class="cabecalho">
    <h1 id="name-tool">SATDPriority</h1>
    <!--<button type="button" class="btn-logout">Logout</button>-->
</header>

<section class="menu">
    <ul class="menuprincipal">
        <li><a href="home"><img src="../images/dashboard.png">Dashboard</a></li>
        <li><a href="priority"><img src="../images/file.png">Associate Priority
        </a></li>
        <li><a href=""><img src="../images/list.png">SATD List</a>
            <ul class="submenu">
                <li><a href="priorityList"><img src="../images/priority.png">Priority List</a></li>
                <li><a href="nonPriorityList"><img src="../images/non-priority.png">Non-Priority List</a></li>
                <li><a href="paid"><img src="../images/paid.png">SATD Paid</a></li>
            </ul>
        </li>
        <li><a href="terms"><img src="../images/terms.png">Terms</a></li>
        <li><a href="about"><img src="../images/about.png">About</a></li>
    </ul>
</section>

<section class="conteudo">
        <h1 id="title-conteudo">Dashboard</h1>
        <p>Your tool for priority SATD</p>
</section>

</body>

</html>