<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SATDPriority - Terms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>
    <script src="/js/script-table.js"></script>
</head>

<body>

<header class="cabecalho">
    <h1 id="name-tool">SATDPriority</h1>
    <!--<button type="button" class="btn-logout">Logout</button>-->
</header>

<section class="menu">
    <ul class="menuprincipal">
        <li><a href="home"><img src="../images/dashboard.png">Dashboard</a></li>
        <li><a href="priority"><img src="../images/file.png">Associate Priority
        </a></li>
        <li><a href=""><img src="../images/list.png">SATD List</a>
            <ul class="submenu">
                <li><a href="priorityList"><img src="../images/priority.png">Priority List</a></li>
                <li><a href="nonPriorityList"><img src="../images/non-priority.png">Non-Priority List</a></li>
                <li><a href="paid"><img src="../images/paid.png">SATD Paid</a></li>
            </ul>
        </li>
        <li><a href="terms"><img src="../images/terms.png">Terms</a></li>
        <li><a href="about"><img src="../images/about.png">About</a></li>
    </ul>
</section>

<section class="conteudo">
    <h1 id="title-conteudo">Terms</h1>
    <div class="container">
        <!--<table class="table">-->
        <table id="list-terms" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Term</th>
                <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody th:each="term : ${terms}">
            <tr>
                <th scope="row" th:text="${term.id}"></th>
                <td th:text="${term.termDescription}"></td>
                <td><button type="button" class="btn btn-danger">Delete</button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        Total Items: [[${totalElements}]]
    </div>

    <div>
        <form method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="termDescription" placeholder="New Term">
            </div>
            <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Add new Term</button>
        </form>
    </div>
</section>

</body>

</html>